{% load static wagtailcore_tags %}
    <header class="header">
        <div class="header__container">
            <a class="header__logo" href="">{{page.logo_abreviation}}</a>
            <div class="header__menu menu">
                <div class="menu__icon"></div>
                <nav class="menu__body">
                <ul class="menu__list">
                    <li><a class="menu__link" data-goto=".page__section_first" href="#">ABOUT</a></li>
                    <li><a class="menu__link" data-goto=".page__section_next" href="#">CONTACT US</a></li>
                    <li><a class="menu__link" data-goto=".page__section_media" href="#">MEDIA ABOUT UCC</a></li>
                </ul>
                </nav>
            </div>
        </div>
    </header>