{% load wagtailimages_tags %}
                    <div class="block__how_title">
                        <h1 class="partners_bold118 color_yellow">{{self.title_how | safe  }}</h1>
                    </div>

                    <div class="block__how_text">
                      {% for how in self.text_cards %}
                        <div class="block_list1">
                            <div class="boolet_2"></div>
                            <div class="text_list_how">{{how.text | safe  }}</div>
                        </div>
                      {% endfor %}
                    </div>
