{% load wagtailimages_tags %}
<style>
    hr {
        margin: 0.1rem 0;
        color: black;
        border: 0;
        border-top: 1px solid;

    }
</style>
 {% for card in self.text_card %}
                    <div class="block_one_project">
                    <div class="block__projects_pics">
                        {% image card.image original as img %}
                            <a href="{{card.learn_more_url}}" target="_blank">
                                <img class="block__projects_img" alt="" src="{{img.url}}" />
                            </a>
                    </div>

                    <div class="block__projects_text">
                        <h3>{{card.text|safe}}</h3> <br>
                        <p><b>{{card.description}}</b></p><br>
                        <a href="{{card.learn_more_url}}" target="_blank" class="projects_btn">
                            <b>{{ card.btn_name }}</b>
                        </a>
                    </div>
                    </div>

                    {% if not forloop.last %}
                    <div style="width: 100%"> <hr> </div>
                    {% endif %}
{%endfor%}
