{% load wagtailimages_tags %}
<!-- ======media-about===== -->
        <div class="block__media_title font_sansh61 color_yellow">
        <h2>{{self.title}}</h2>
        </div>

        <div class="block__media_text">
             {% for card in self.cards %}
                {% image card.image max-274x174 as img %}
            <div class="block__media_cell">
                <div class="block__media_content">
                    <div class="image_media">
                        <a href="{{card.button_url}}" target="_blank">
                            <img class="media_preview_img" alt="{{card.title}}" src="{{img.url}}" />
                        </a>
                    </div>
                </div>
                <div class="media_short white_link">
                    <a class="white_link"  href="{{card.button_url}}" target="_blank">
                        {{card.title}}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
<!-- ======media-about===== -->